<h1>Update your details</h1>

<form>
  <label>First name</label>
  <input class="input" type="text"/>

  <label>Last name</label>
  <input class="input" type="text"/>

  <label>Address line 1</label>
  <input class="input" type="text"/>

  <label>Address line 2</label>
  <input class="input" type="text"/>

  <label>Address line 3</label>
  <input class="input" type="text"/>

  <label>City</label>
  <input class="input" type="text"/>

  <label>County</label>
  <input class="input" type="text"/>

  <label>Postcode</label>
  <input class="input" type="text"/>
</form>
