/* You can add global styles to this file, and also import other style files */
@import "app/styles/tools";

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #eaeaea;
}

body, input, button {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: $colour-black;
}

html,
body,
app-root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}